div.fondo_superior{
    background-color: black;
    margin: 0%;
    border: 2px solid white;
    border-radius: 10px;
    width: 95%;
    height: 25%;
    position: absolute;
    left: 2.5%;
    top: 3%;
}

div.fondo_izquierdo{
    background-color: rgb(0, 0, 95);
    margin: 0%;
    border: 2px solid white;
    border-radius: 10px;
    width: 65.5%;
    height: 65%;
    position: absolute;
    left: 2.5%;
    top: 30%;
}

div.fondo_derecho{
    background-color: rgb(0, 0, 95);
    margin: 0%;
    border: 2px solid white;
    border-radius: 10px;
    width: 28%;
    height: 65%;
    position: absolute;
    left: 69.5%;
    top: 30%;
}

div.fondo_inferior{
    background-color: black;
    margin: 0%;
    border: 2px solid white;
    border-radius: 10px;
    width: 95%;
    height: 25%;
    position: absolute;
    left: 2.5%;
    top: 97%;
}

div.contenido_logo{
    background-color: rgb(0, 0, 95);
    margin: 0%;
    border: 5px;
    border-radius: 10px;
    width: 20%;
    height: 20%;
    position: absolute;
    left: 4%;
    top: 5.5%;
}

div.contenido_menu{
    background-color: rgb(0, 0, 95);
    margin: 0%;
    border: 5px;
    border-radius: 10px;
    width: 70.3%;
    height: 20%;
    position: absolute;
    left: 26%;
    top: 5.5%;
}

div.contenido_informacion{
    background-color: rgb(255, 255, 255);
    margin: 0%;
    border: 5px;
    border-radius: 10px;
    width: 62.5%;
    height: 60%;
    position: absolute;
    left: 4%;
    top: 32.5%;
    overflow: scroll;
    font-family: 'Bebas Neue', sans-serif;
}

div.contenido_columna{
    background-color: rgb(255, 255, 255);
    margin: 0%;
    border: 5px;
    border-radius: 10px;
    width: 25%;
    height: 60%;
    position: absolute;
    left: 71%;
    top: 32.5%;
    font-family: 'Bebas Neue', sans-serif;
}

div.contenido_inferior{
    background-color: rgb(0, 0, 95);
    margin: 0%;
    border: 5px;
    border-radius: 10px;
    width: 92.3%;
    height: 20%;
    position: absolute;
    left: 4%;
    top: 99.5%;
    font-family: 'Bebas Neue', sans-serif;
}

footer{
    position: absolute;
    top: 80%;
    color: white;
    left: 75%;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
}

img.logo{
    position: absolute;
    height: 110%;
    left: -17%;
    top: -3%;
}

.title{
    font-family: 'Rubik Wet Paint', cursive;
    font-size: 60px;
    position: absolute;
    text-decoration: none;
    left: 37.5%;
}

.home{
    display: inline-block;
    font-family: 'Rubik Bubbles', cursive;
    position: absolute;
    left: 2%;
    top: 60%;
    font-size: 35px;
    text-decoration: none;
}

.news{
    display: inline-block;
    font-family: 'Rubik Bubbles', cursive;
    position: absolute;
    left: 15%;
    top: 60%;
    font-size: 35px;
    text-decoration: none;
}

.community{
    display: inline-block;
    font-family: 'Rubik Bubbles', cursive;
    position: absolute;
    left: 27.5%;
    top: 60%;
    font-size: 35px;
    text-decoration: none;
}

.recommendations{
    display: inline-block;
    font-family: 'Rubik Bubbles', cursive;
    position: absolute;
    left: 51.5%;
    top: 60%;
    font-size: 35px;
    text-decoration: none;
}

.help{
    display: inline-block;
    font-family: 'Rubik Bubbles', cursive;
    position: absolute;
    left: 89%;
    top: 60%;
    font-size: 35px;
    text-decoration: none;
}

.base{
    position: absolute;
    top: 0%;
    left: 32.5%;
}

.rika{
    position: absolute;
    top: 2.5%;
    left: 2.5%;
    font-size: 40px;
    color: white;
}

.carlos{
    position: absolute;
    top: 2.5%;
    left: 32.5%;
    font-size: 40px;
    color: white;
}

.insta{
    position: absolute;
    top: 7%;
    width: 2.5%;
}

.face{
    position: absolute;
    top: 35%;
    width: 2.5%;
}

.twitter{
    position: absolute;
    top: 63%;
    width: 2.5%;
}

.comme{
    position: absolute;
    top: 20%;
    left: 10%;

}

.tell{
    position: absolute;
    top: 35%;
    left: 10%;
}

.name{
    position: absolute;
    top: 50%;
    left: 10%;
    font-size: 30px;
}

.comment{
    position: absolute;
    top: 60%;
    left: 10%;
    font-size: 30px;
}

#nombre{
    position: absolute;
    top: 51%;
    left: 30%;
}

#comentario{
    position: absolute;
    top: 61%;
    left: 30%;
    width: 60%;
    height: 15%;
}

.mandar{
    position: absolute;
    top: 70%;
    left: 10%;
}

.borrar{
    position: absolute;
    top: 70%;
    left: 20%;
}

#comentarios-container{
    position: absolute;
    width: min-content;
    top: 90%;
    left: 10%;
    width: 81.18%;
}